<!DOCTYPE html>
<html lang="en">
<head>
    <title>todo list</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/form" method="POST">

        
        
        <label>Task:</label>
        <input type="text" placeholder="Task name"  name="task" value="" > <br>
        <label>Task number:</label>
        <input type="number" placeholder="Task number"  name="number" value="" ><br>
        <label >State:</label>
        <input type="text" value="True" placeholder="State"  name="state"><br>
        <label>submit:</label>
        <input type="submit"  value="submit">
        
        
        
        </form>
        <a href="/creat">go to back</a>
</body>
</html>